[linkselect]
title: Proxy config
description: Please select proxy configuration
  from the options below:
#icon = 
base: /etc/privoxy
link: config
pattern: config.*
desc_from_content: yes
desc_parse_lines: 1
desc_regexp: # (.*)
changehook:
